<hr>
<div *ngIf="!bIsUpdating">
  <div>{{getTime()}}</div>
  <button (click)="onShow()" class="btn btn-dark" *ngIf="allComments.isSpoiler && blur">spoiler</button>
  <div [formGroup]="updateForm" [ngClass]="{'blurHere':allComments.isSpoiler && blur}">
    <p>{{allComments.content}}</p>
    <div>
      <button *ngIf="userName === allComments.author.userName" class="btn btn-link mr-3" (click)="updateEnable()"><i class="fas fa-edit"></i> Modifier</button>
      <button *ngIf="userName === allComments.author.userName" class="btn btn-link" (click)="deleteComments()"><i class="fas fa-trash"></i> Supprimer</button>
    </div>
  </div>
</div>

<div *ngIf="bIsUpdating" [formGroup]="updateForm">
  <div class="form-group">
    <label for="textInput">Texte</label>
    <textarea formControlName="content" class="form-control" id="textInput" rows="6"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input formControlName="isSpoiler" class="form-check-input" type="checkbox" value="Spoiler" id="ispoiler">
      <label class="form-check-label" for="ispoiler">Spoiler</label>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Modifier" (click)="updateCom()">
  <button class="btn btn-secondary" (click)="updateEnable()">Annuler</button>
</div>


