<hr>
<div *ngIf="!bIsUpdating">
  <div>{{getTime()}}</div>
  <div [formGroup]="updateForm" [ngClass]="{'blurHere':allComments.isSpoiler && blur}">
    <p>{{allComments.content}}</p>
    <div>
      <a href="#" *ngIf="userName === allComments.author.userName" class="mr-3" (click)="updateEnable()"><i class="fas fa-edit"></i> Modifier</a>
      <a href="#" *ngIf="userName === allComments.author.userName" (click)="deleteComments()"><i class="fas fa-trash"></i> Supprimer</a>
    </div>
    <div>
  </div>
  <button (click)="onShow()" class="btn btn-dark overPicture" *ngIf="allComments.isSpoiler && blur">spoiler</button>
</div>

<div *ngIf="bIsUpdating" [formGroup]="updateForm">
  <input type="text" formControlName="content">
  <input type="checkbox" formControlName="isSpoiler"> is Spoiler ?
  <input type="submit" class="btn" value="Pop" (click)="updateCom()">
  <button class="btn" (click)="updateEnable()">Annuler</button>
</div>


