<div class="post mb-5 p-4">
  <h4 class="mb-0">
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="collapse">
      <i class="fas fa-plus"></i> Créer un post
    </a>
  </h4>
  <div class="collapse mt-2" id="collapseExample">
    <form [formGroup]="popPosted" (ngSubmit)="popPost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input formControlName="title" type="text" id="title" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="content">Texte</label>
        <textarea formControlName="content" type="text" id="content" class="form-control" name="content" rows="6"></textarea>
      </div>
      <div class="form-group">
        <label for="fileContent">Media</label>
        <input *ngIf="!isAdmin" class="form-control-file" formControlName="fileContent" type="file" id="fileContent" name="fileContent" (change)="onTheFly($event)" accept="image/*">
        <input *ngIf="isAdmin" class="form-control-file" formControlName="fileContent" type="file" id="fileContent" name="fileContent" (change)="onTheFly($event)" accept="image/*,.mp3,.wav,.mp4,.webm">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input formControlName="isSpoiler" class="form-check-input" type="checkbox" value="Spoiler" id="ispoiler">
          <label class="form-check-label" for="ispoiler">Spoiler</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="closeCollapse()">Publier</button>
    </form>
  </div>
</div>
