<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="back">
      <a href="/"><i class="fas fa-arrow-left fa-4x"></i></a>
    </div>

    <div class="post mb-5 p-4" *ngIf="loaded">
      <a href="#" class="pseudo premium">
        <img src="http://localhost:5000/avatars/{{onePop.author.avatar}}"
             alt="profilPicture">{{onePop.author.userName}}
      </a> · <small class="text-black-50" title="{{title}}">{{time}}</small>

      <h4>{{onePop.title}}</h4>
      <div class="contentBox">
        <div [ngClass]="{'blurHere':onePop.isSpoiler && blur}">
          <p>{{onePop.content}}</p>
          <p>{{onePop.fileName}}</p>
          <img *ngIf="onePop.fileType == 'image'" src="http://localhost:5000/assets/{{onePop.filePath}}"
               alt="picture">
          <video *ngIf="onePop.fileType == 'video'"
                 src="http://localhost:5000/assets/{{onePop.filePath}}"></video>
          <audio *ngIf="onePop.fileType == 'audio'"
                 src="http://localhost:5000/assets/{{onePop.filePath}}"></audio>
        </div>
        <button (click)="onShow()" class="btn btn-dark overPicture" *ngIf="onePop.isSpoiler && blur">Afficher le
          spoiler
        </button>
      </div>
      <app-like [postId]="onePop.id" [isLiked]="onePop.isLiked" [numberLike]="onePop.countLikes"></app-like>
    </div>

    <div class="post mb-5 p-4">
      <app-add-comment [id]="id" (comEvent)="getOnePopComs(id)"></app-add-comment>
      <div *ngFor="let comments of allThisPopComments">
        <app-comments [allComments]="comments" (comEvent)="getOnePopComs(id)"></app-comments>
      </div>
    </div>
  </div>
</div>
