<div class="post mb-5 p-4" *ngIf="!bIsUpdating">
  <a href="#" [ngClass]="{premium : isPremium}" class="pseudo">
    <img *ngIf="pop.author.avatar !== null" src="http://localhost:5000/avatars/{{pop.author.avatar}}"
         alt="profilPicture">
    <img *ngIf="pop.author.avatar === null" src="http://localhost:4200/assets/build/defaultuser.png"
         alt="profilPicture">
    {{pop.author.userName}}
  </a> · <small class="text-black-50" title="{{title}}">{{time}}</small>

  <h4>{{pop.title}}</h4>

  <div class="contentBox">
    <div [ngClass]="{'blurHere':pop.isSpoiler && blur}">
      <p>{{pop.content}}</p>
      <p>{{pop.fileName}}</p>
      <img *ngIf="pop.fileType == 'image'" src="http://localhost:5000/assets/{{pop.filePath}}" alt="picture">
      <video controls="controls" controlsList="nodownload" *ngIf="pop.fileType == 'video'" src="http://localhost:5000/assets/{{pop.filePath}}"></video>
      <audio controls="controls" controlsList="nodownload" *ngIf="pop.fileType == 'audio'">
        <source src="http://localhost:5000/assets/{{pop.filePath}}">
      </audio>
    </div>
    <button (click)="onShow()" class="btn btn-dark overPicture" *ngIf="pop.isSpoiler && blur">Afficher le spoiler
    </button>
  </div>
  <app-like [postId]="pop.id" [isLiked]="pop.isLiked" [numberLike]="pop.countLikes"></app-like>
  <div class="box-comments px-3 py-1">
    <p class="mb-0 mr-2">{{pop.countComment }}</p><a routerLinkActive="active" [routerLink]="['core/one-pop',pop.id]"><i
      class="fas fa-comment"></i></a>
  </div>

  <div>
    <a href="#" *ngIf="userName === pop.author.userName" (click)="update()" class="mr-3"><i class="fas fa-edit"></i> Modifier</a>
    <a href="#" *ngIf="userName === pop.author.userName || isAdmin()" (click)="deletePost()"><i class="fas fa-trash"></i> Supprimer</a>
  </div>
</div>

<div class="post mb-5 p-4" *ngIf="bIsUpdating">
  <form [formGroup]="popUpdate" (ngSubmit)="updatePost()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input formControlName="title" type="text" id="title" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Texte</label>
      <textarea formControlName="content" type="text" id="content" class="form-control" name="content"
                rows="6"></textarea>
    </div>
    <div class="form-group">
      <label for="fileContent">Media</label>
      <input *ngIf="!isPremium()" class="form-control-file" formControlName="fileContent" type="file" id="fileContent" name="fileContent" (change)="onTheFly($event)" accept="image/*">
      <input *ngIf="isPremium()" class="form-control-file" formControlName="fileContent" type="file" id="fileContent" name="fileContent" (change)="onTheFly($event)" accept="image/*,.mp3,.wav,.mp4,.webm">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input formControlName="isSpoiler" class="form-check-input" type="checkbox" value="Spoiler" id="ispoiler">
        <label class="form-check-label" for="ispoiler">Spoiler</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
    <button class="btn btn-secondary" (click)="update()">Annuler</button>
  </form>
</div>
