<div class="post mb-5 p-4">
  <a href="#" class="pseudo premium">
    <img *ngIf="pop.author.avatar !== null" src="http://localhost:5000/avatars/{{pop.author.avatar}}" alt="profilPicture">
    <img *ngIf="pop.author.avatar === null" src="http://localhost:4200/assets/build/defaultuser.png" alt="profilPicture">
    {{pop.author.userName}}
  </a> · <small class="text-black-50" title="{{title}}">{{time}}</small>

  <h4>{{pop.title}}</h4>
  <div class="contentBox">
    <div [ngClass]="{'blurHere':pop.isSpoiler && blur}">
      <p>{{pop.content}}</p>
      <p>{{pop.fileName}}</p>
      <img *ngIf="pop.fileType == 'image'" src="http://localhost:5000/assets/{{pop.filePath}}" alt="picture">
      <video *ngIf="pop.fileType == 'video'" src="http://localhost:5000/assets/{{pop.filePath}}"></video>
      <audio *ngIf="pop.fileType == 'audio'" src="http://localhost:5000/assets/{{pop.filePath}}"></audio>
    </div>
    <button (click)="onShow()" class="btn btn-dark overPicture" *ngIf="pop.isSpoiler && blur">Afficher le spoiler
    </button>
  </div>
  <app-like [postId]="pop.id"></app-like>
  <div class="box-comments px-3 py-1">
    <div>
      <app-add-comment></app-add-comment>
      <app-comments></app-comments>
    </div>
    <p class="text-center"><a href="#"><i class="fas fa-comment"></i></a></p>
  </div>
</div>
