<div class="post mb-5 p-4">
  <img src="http://localhost:5000/avatars/{{pop.author.avatar}}" alt="profilPicture" style="width: 100px"><a href="#"
                                                                                                             class="pseudo premium">{{pop.author.userName}}</a>
  · <small class="text-black-50" title="{{title}}">{{time}}</small>

  <h4>{{pop.title}}</h4>
  <div class="contentBox">
    <div [ngClass]="{'blurHere':pop.isSpoiler && blur}">
      <p>{{pop.content}}</p>
      <p>{{pop.fileName}}</p>
      <img *ngIf="pop.fileType == 'image'" src="http://localhost:5000/assets/{{pop.filePath}}" alt="picture">
      <video *ngIf="pop.fileType == 'video'" src="http://localhost:5000/assets/{{pop.filePath}}"></video>
      <audio *ngIf="pop.fileType == 'audio'" src="http://localhost:5000/assets/{{pop.filePath}}"></audio>
    </div>
    <button (click)="onShow()" class="btn btn-dark overPicture" *ngIf="pop.isSpoiler && blur">Afficher le contenu NSFW
    </button>
  </div>
  <app-like [postId]="pop.id"></app-like>
  <div class="box-comments px-3 py-1">
    <p class="text-center"><a href="#">Voir les commentaires</a></p>
  </div>
</div>
