<nav class="navbar navbar-expand-xl navbar-light bg-white">
  <a class="navbar-brand" routerLinkActive="active" routerLink="">
    <img src="./assets/build/8f0ca4a001b8fa873d975ab3168c082c.svg" width="70" alt="Logo MAŸS">
  </a>

  <div class="navbar-nav ml-auto" *ngIf="isLoggedUpdate()">
    <div class="pseudo">
      <img *ngIf="issetAvatar()" src="http://localhost:5000/avatars/{{getAvatar()}}" alt="profilPicture">
      <img *ngIf="!issetAvatar()" src="http://localhost:4200/assets/build/defaultuser.png" alt="profilPicture">
      <a routerLinkActive="active" routerLink="core/account" class="nav-link" *ngIf="isLogged()">{{userName}}</a>
    </div>
  </div>

  <div class="navbar-nav ml-auto">
    <a routerLinkActive="active" routerLink="core/login" class="nav-link" *ngIf="!isLogged()">Se connecter</a>
    <a routerLinkActive="active" routerLink="core/register" class="nav-link" *ngIf="!isLogged()">S'inscrire</a>
    <a routerLinkActive="active" routerLink="core/account" class="nav-link" *ngIf="isLogged()">Mon Compte</a>
    <a routerLinkActive="active" routerLink="core/premium" class="nav-link" *ngIf="isLogged()">Devenir premium</a>
    <a routerLinkActive="active" routerLink="#" class="nav-link" (click)="logout();" *ngIf="isLogged()">Se
      déconnecter</a>
  </div>
</nav>
